@charset "utf-8";
/* CSS Document */

body{ margin:0px; padding:0px; background:#dcdcdc;  font-family:"Lato-Regular";}

@font-face{ font-family:"Lato-Bold"; src: url(../fonts/Lato-Bold.ttf);}
@font-face{ font-family:"Lato-Regular"; src: url(../fonts/Lato-Regular.ttf);}




h1{ font-size:40px; color:#000;  font-family:"Lato-Bold";}
h3{ font-size:26px; color:#fff; margin:0px;  font-family:"Lato-Regular";}

.navbar-nav {
    margin: 0px;
    float: none;
    width: 100%;
    text-align: center;
    margin: auto;
    max-width: 720px;
}
.navbar-form {
 margin-right:0px; 
}

.navbar-default {
    background-color: #ff7252;
    border: 0px;    position: fixed;
    left: 0; top:0;
    right: 0;
    z-index: 99999;
    margin-bottom: 40px;
	    border-bottom: 7px solid #444444;
}
.navbar-default .navbar-nav > li > a {text-shadow: none;
    color: #000;    font-size: 18px;font-family:"Lato-Regular";
}
.nav li a:active {
    background: #444 !important;
    color: #fff !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav
> .active > a:focus {
    color: #fff;font-family:"Lato-Regular";
    background: #444444;
}

.top a {
    color: #fff;
}
a:hover{ text-decoration:none !important;}
div#snap {
    margin-top: 60px;
}
.flow-sec {
    float: left;
    width: 100%;
}

ul.flow-txt {
    list-style-type: none;
    display: inline-block;
    float: none;
    width: 100%;
    text-align: center;
    max-width: 807px;
    margin: 0px;
    padding: 0px;
}
ul.flow-txt li {
    float: left;
    margin-left: 15px;
    padding: 13px 0px;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    max-width: 185px;
    width: 100%;
}
ul.flow-txt li:nth-child(1){ margin-left:0px;} 
li.t-flow {
    background: #f8b504; cursor:pointer;
        }
li.c-flow {
    background: #ff7252;cursor:pointer;
}
li.r-flow {
    background: #444444;cursor:pointer;
}


input.pinkCircle {
    border: #666 !important;
    color: #666 !important;
}
.null {
    margin-bottom: 5px !important;
}



#s-icone {
    background: #dcdcdc;
    box-shadow: 0px 5px 14px #888888;
    margin-bottom: 30px;
    padding-bottom: 30px;
    float: left;
    width: 100%;
    padding-top: 5px;
    margin-top: 30px;
}




/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel {    box-shadow: 2px 1px 16px #000;
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px;
    background: #fff;
    padding-bottom: 30px;
}
.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom:-22px;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;

}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-indicators li {
    background-color: #f8b504;
    border: 1px solid #f8b504;
    border-radius: 10px;
}
/* ------------------- Section Styling - Not needed for carousel styling ------------------- */
.carousel-indicators .active {
    width: 17px;
    height: 17px;
    margin: 0;
    background-color: #fa5833 !important;
}
.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}
.carousel-indicators li {
    width: 16px !important;
    height: 16px !important;
}
@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}


/* ------------------- Section Styling - Not needed for carousel styling close  ------------------- */




.top-space{ margin-top:30px;}







#metrix {
    background: #dcdcdc;
    box-shadow: 0px 5px 14px #888888;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.rt-flow {
    float: none;
    width: 80%;
    padding: 8px 0px 0px 0px;
    background: #fff;
    box-shadow: 0px 1px 6px #000;
    border: 1px solid #ccc;
    margin: auto;
}
.rt-flow img {
    width: 60%;
    border: 2px solid #ff7252;
    border-radius: 50%;
}
.ct-flow {
    float: none;
    width: 80%;
    padding: 8px 0px 0px 0px;
    background: #fff;
    box-shadow: 0px 1px 6px #000;
    border: 1px solid #ccc;
    margin: auto;
}
.ct-flow img {
width: 60%;
    border: 2px solid #666666;
    border-radius: 50%;
}
.trst-lag {
    background: #ff7252;
    text-align: center;
        margin-top: 17px;
    padding: 16px 0px;
}
.trst-lag-second {
    background: #666666;
    text-align: center;
        margin-top: 17px;
    padding: 16px 0px;
}


.backlinks {
    background: #dcdcdc;
    box-shadow: 0px 5px 14px #888888;
    margin-bottom: 30px;
    padding-bottom: 30px;
}


.b-links {
    background: #fff;
    border: 2px solid #ccc;
    padding: 10px ;
}
.b-links p{ font-size:28px} 
.b-links font{ font-size:48px;}

.sader{ color:#ff7252;}
.way-links{ background:#666666;    padding: 47px 0px;}
.way-links p {
    font-size: 19px;
    color: #fff;
    line-height: 28px;
}


#external-profile {
    background: #dcdcdc;
    box-shadow: 0px 5px 14px #888888;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

#external-profile img {
    max-width: 385px;
}




.graph {
    background: #dcdcdc;
    box-shadow: 0px 5px 14px #888888;
    margin-bottom: 30px;
    padding-bottom: 30px;
}









footer {
    float: left;
    width: 100%;
    position: relative;
    background: #444444;
    padding: 7px 0px;
}
.socila-icones {
     float: left; 
    width: 100%;
}

ul.s-icones {
    float: none;
    list-style-type: none;
    width: 100%;
    margin: auto;margin-top: 10px;
    max-width: 437px;
}
ul.s-icones li {
    float: left;
    border: 1px solid #ff7252;
    width: 80px;
    background: #fff;
    padding: 13px;
    margin-left: 10px;transition-duration: 2s;
    border-radius: 50%;
}

img.img-responsive.facebook {
    width: 25px;
    height: 52px;
    margin-left: 13px;
}

ul.s-icones li:hover {
    background: #ff7252;
}
p.bootply {
      float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    font-size: 18px;
    color: #fff;
}
p.bootply font {
    color: #fa5833;
}
.graph img {
    box-shadow: 2px 2px 2px #666666;
}

.top {
    background: #fa5833;
    width: 50px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 15px;
}
img.arrow-top {
     margin-top: 6px;
    width: 42%;
}








@media (max-width:992px){

ul.flow-txt li {
    float: left;
    margin-left: 15px;
    padding: 13px 0px;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    max-width: 161px;
    width: 100%;
}





}

@media (max-width:767px){

ul.flow-txt li {
    float: left;
   margin-left: 0px; 
    padding: 13px 0px;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
}
.ct-flow { width:90%;}
.rt-flow{ width:90%;}
}



@media (max-width:540px) and (min-width:480px){
	
	h3 {
    font-size: 23px;}
	
	
	 
}
@media (max-width:480px){

#metrix .col-xs-6 {
    width: 100%;
}
ul.s-icones li {
    float: left;
    border: 1px solid #fff;
    width: 50px;
    background: #fff;
    padding: 10px;
    margin-left: 10px;
    border-radius: 50%;
}
img.img-responsive.facebook {
    width: 17px;
    height: 29px;
    margin-left: 6px;
}
.top {
    background: #fa5833;
    width: 52px;
    height: 57px;
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 18px;
    top: -57px;
}
}

.rg-image-wrapper{
	position:relative;
	padding:20px 30px;
	background:transparent url(http://pbnhq.github.io/dr-snapshotviewer/images/black.png) repeat top left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height:20px;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}
.rg-image img{
	max-height:100%;
	max-width:100%;
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:#000 url(http://pbnhq.github.io/dr-snapshotviewer/images/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:30px;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(http://pbnhq.github.io/dr-snapshotviewer/images/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(http://pbnhq.github.io/dr-snapshotviewer/images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}